.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.col-right {
  width: 20%;
}

.col-center {
  width: 50%;
}

.col-left {
  width: 20%;
}

.full-height {
  height: 100%;
  max-height: 100%;
}

.full-height .container {
  height: 100%;
  max-height: 100%;
}